@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	width: 100%;
}

.paragraph {
	margin-bottom: 20px;
}

.subheader {
	font-size: 18px;
	margin-bottom: 10px;
}

.image-container {

	margin-bottom: 20px;

	&.small {
		width: 100%;

		@include for-tablet-portrait-up {
			width: 300px;
		}
	}

	&.left {	

		@include for-tablet-portrait-up {
			float: left;
			margin: 0 20px 20px 0;
		}
	}

	&.right {

		@include for-tablet-portrait-up {
			float: right;
			margin: 0 0 20px 20px;
		}
	}
}