@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	width: 100%;
}

.paragraph {
	font-size: 18px;
	line-height: 34px;
	margin-bottom: 20px;
}

.subheader {
	font-size: 20px;
	margin-bottom: 10px;
}

.list {
	list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;

    &.ordered {
    	list-style-type: decimal;
    }

    li {
    	font-weight: bold;
    	
    	&:not(:last-child) {
    		padding-bottom: 10px;
    	}
    }
}

.paragraph,
.subheader,
.list {
	@include for-tablet-portrait-up {
		padding: 0 80px;
	}
}

.image-container {

	margin-bottom: 20px;

	&.small {
		width: 100%;

		@include for-tablet-portrait-up {
			width: 300px;
		}
	}

	&.left {	

		@include for-tablet-portrait-up {
			float: left;
			margin: 0 20px 20px 0;
		}
	}

	&.right {

		@include for-tablet-portrait-up {
			float: right;
			margin: 0 0 20px 20px;
		}
	}
}