@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
.styles-clearfix-2Rb3A:before,
.styles-clearfix-2Rb3A:after {
  content: "";
  display: table; }

.styles-clearfix-2Rb3A:after {
  clear: both; }

.styles-clearfix-2Rb3A {
  zoom: 1; }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0; }

html,
body {
  font-size: 10px; }

p {
  font-size: 1.6rem;
  line-height: 1.8em;
  font-family: Georgia,Cambria,"Times New Roman",Times,serifPublicoText-Roman-Web,Georgia,Cambria,"Times New Roman",Times,serif; }
  p small {
    font-size: .8em; }

a {
  transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  text-decoration: none;
  color: #333333;
  font-family: inherit; }
  a:hover {
    color: #FF1815;
    cursor: pointer; }
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.6rem; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

.HamburgerButton-button-3Kmsn {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer; }

.HamburgerButton-hamburger-1b52a {
  position: relative; }
  .HamburgerButton-hamburger-1b52a, .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    width: 20px;
    height: 2px;
    background-color: #FF1815;
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(-7px); }
  .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(7px); }

.HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a {
  background: transparent; }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(0) rotate(135deg); }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(0) rotate(225deg); }

.Header-container-3ZpuA {
  padding: 0 20px;
  width: 100%;
  z-index: 2; }
  @media (min-width: 1026px) {
    .Header-container-3ZpuA {
      padding: 0 60px;
      top: 0;
      left: 0; } }
  .Header-container-3ZpuA.Header-fixed-39ltI {
    position: fixed; }
  .Header-container-3ZpuA.Header-gradient-2Ht_W {
    background: linear-gradient(#000 30%, rgba(0, 0, 0, 0) 100%); }
  .Header-container-3ZpuA.Header-dark-mode-1DaGR a {
    color: #fff !important; }

.Header-inner-2A1qX {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Header-banner-3w3mF {
  width: 300px;
  height: 54px;
  background-size: 100%; }
  @media (min-width: 600px) {
    .Header-banner-3w3mF {
      width: 500px;
      height: 88px; } }

.Header-nav-3jI7E {
  margin-top: 20px; }
  @media (min-width: 600px) {
    .Header-nav-3jI7E {
      margin-top: 20px; } }
  .Header-nav-3jI7E li {
    font-size: 12px;
    font-weight: bold;
    display: inline-block; }
    @media (min-width: 600px) {
      .Header-nav-3jI7E li {
        font-size: 18px; } }
    .Header-nav-3jI7E li:not(:last-child) {
      margin-right: 15px; }
      @media (min-width: 600px) {
        .Header-nav-3jI7E li:not(:last-child) {
          margin-right: 35px; } }
    .Header-nav-3jI7E li:hover a, .Header-nav-3jI7E li.Header-active-1uMAQ a {
      color: #FF1815; }
    .Header-nav-3jI7E li:hover .Header-underline-1IEy8, .Header-nav-3jI7E li.Header-active-1uMAQ .Header-underline-1IEy8 {
      width: 100%; }
    .Header-nav-3jI7E li .Header-underline-1IEy8 {
      width: 0;
      height: 2px;
      background: #FF1815;
      margin: 0 auto;
      transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }

.Header-menu-container-2rqw1 {
  margin-top: 30px;
  display: none; }
  @media (min-width: 600px) {
    .Header-menu-container-2rqw1 {
      display: none; } }
  .Header-menu-container-2rqw1 .Header-button-3USmz {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    background: #000000; }
  .Header-menu-container-2rqw1 ul.Header-menu-sKL0B {
    visibility: hidden;
    opacity: 0;
    margin-top: 25px;
    padding: 12px 10px;
    position: absolute;
    background: #000000;
    border: 1px solid #FF1815;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }
    .Header-menu-container-2rqw1 ul.Header-menu-sKL0B.Header-active-1uMAQ {
      visibility: visible;
      opacity: 1; }
  .Header-menu-container-2rqw1 li {
    font-size: 16px;
    color: #fff; }
    .Header-menu-container-2rqw1 li:not(:last-child) {
      margin-bottom: 10px; }

.HeroBanner-container-fYWwV {
  width: 100%;
  background: #232323;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  @media (min-width: 600px) {
    .HeroBanner-container-fYWwV {
      justify-content: center;
      background-attachment: fixed; } }
  .HeroBanner-container-fYWwV.HeroBanner-justify-top-3VB1M {
    justify-content: flex-start; }
    .HeroBanner-container-fYWwV.HeroBanner-justify-top-3VB1M .HeroBanner-text-container-3UaLg {
      background: linear-gradient(rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0) 10%);
      padding-top: 20px; }
      @media (min-width: 600px) {
        .HeroBanner-container-fYWwV.HeroBanner-justify-top-3VB1M .HeroBanner-text-container-3UaLg {
          padding-top: 40px; } }
  .HeroBanner-container-fYWwV.HeroBanner-justify-bottom-l4RcU {
    justify-content: flex-end; }
    .HeroBanner-container-fYWwV.HeroBanner-justify-bottom-l4RcU .HeroBanner-text-container-3UaLg {
      background: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7) 75%);
      padding-bottom: 20px; }
      @media (min-width: 600px) {
        .HeroBanner-container-fYWwV.HeroBanner-justify-bottom-l4RcU .HeroBanner-text-container-3UaLg {
          padding-bottom: 30px; } }
  .HeroBanner-container-fYWwV.HeroBanner-full-1ZTji {
    min-height: 100vh; }
  .HeroBanner-container-fYWwV.HeroBanner-three-quater-1uIgj {
    min-height: 35vh; }
    @media (min-width: 600px) {
      .HeroBanner-container-fYWwV.HeroBanner-three-quater-1uIgj {
        min-height: 75vh; } }
  .HeroBanner-container-fYWwV.HeroBanner-half-1V9GZ {
    min-height: 35vh; }
    @media (min-width: 600px) {
      .HeroBanner-container-fYWwV.HeroBanner-half-1V9GZ {
        min-height: 50vh; } }
  .HeroBanner-container-fYWwV.HeroBanner-auto-3Alws {
    min-height: auto; }

.HeroBanner-text-container-3UaLg {
  width: 100%;
  text-align: center; }
  .HeroBanner-text-container-3UaLg.HeroBanner-border-1PvtJ {
    border: 1px solid #fff;
    padding: 18px 20px; }

.HeroBanner-title-2n_0g {
  font-size: 35px;
  line-height: 1.3;
  color: #fff;
  text-align: center; }
  @media (min-width: 600px) {
    .HeroBanner-title-2n_0g {
      font-size: 60px; } }

.HeroBanner-buttons-container-2bvpJ {
  margin-top: 40px; }
  @media (min-width: 600px) {
    .HeroBanner-buttons-container-2bvpJ {
      margin-top: 60px; } }

.HeroBanner-button-container-2xSm3 {
  text-align: center; }
  .HeroBanner-button-container-2xSm3:not(:last-child) {
    margin: 0 0 40px 0; }
  @media (min-width: 600px) {
    .HeroBanner-button-container-2xSm3.HeroBanner-row-1TEvL {
      display: inline-block; }
      .HeroBanner-button-container-2xSm3.HeroBanner-row-1TEvL:not(:last-child) {
        margin: 0 30px 0 0; } }
  .HeroBanner-button-container-2xSm3 a {
    color: #fff; }

.HeroBanner-label-2R3I0 {
  font-size: 16px;
  color: #fff; }

.HeroBanner-button-1GnDi {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }
  @media (min-width: 600px) {
    .HeroBanner-button-1GnDi {
      font-size: 20px; } }
  .HeroBanner-button-1GnDi.HeroBanner-border-1PvtJ {
    border: 1px solid #fff;
    padding: 16px 30px; }
    .HeroBanner-button-1GnDi.HeroBanner-border-1PvtJ:hover {
      background: #fff; }
      .HeroBanner-button-1GnDi.HeroBanner-border-1PvtJ:hover a {
        color: #005CAF; }

.HeroBanner-image-container-3HA7n {
  width: 100%;
  margin-top: 40px;
  box-shadow: 0 0 10px 10px #000000;
  cursor: pointer;
  transition: all 0.25 cubic-bezier(0.42, 0, 0.58, 1); }
  @media (min-width: 600px) {
    .HeroBanner-image-container-3HA7n {
      width: 500px;
      margin-top: 60px; } }
  .HeroBanner-image-container-3HA7n:hover {
    box-shadow: 0 0 10px 15px #000000; }
  .HeroBanner-image-container-3HA7n img {
    width: 100%; }

.Layout-container-1Z389 {
  min-height: 100vh; }

.Layout-inner-d3Io5 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 30px; }
  @media (min-width: 600px) {
    .Layout-inner-d3Io5 {
      padding: 60px 30px; } }

.PageHeader-container-3ktzp {
  width: 100%; }

.PageHeader-inner-3_Dcy {
  display: inline-block; }

.PageHeader-title-1UdnQ {
  font-size: 22px; }
  @media (min-width: 600px) {
    .PageHeader-title-1UdnQ {
      font-size: 28px; } }

.PageHeader-underline-2Ki7C {
  width: 100%;
  height: 4px;
  background: #FF1815; }

@keyframes Image-fadein-agl3V {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Image-size-container-1F01j {
  margin: 0 auto;
  height: inherit; }

.Image-image-container-3XUvb {
  position: relative;
  height: inherit;
  z-index: 0; }
  .Image-image-container-3XUvb.Image-placeholder-2QHot:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 35%;
    background-position: center center;
    opacity: .1;
    background-color: #666;
    background-image: 'url(./image-placeholder.png)'; }

.Image-image-container-3XUvb:not(.Image-loaded-2w56Y) .Image-image-6wPci {
  display: none; }

.Image-image-6wPci {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  animation: Image-fadein-agl3V 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) both; }
  .Image-image-6wPci.Image-fit-1uHCx {
    object-fit: contain; }
  .Image-image-6wPci.Image-cover-2NcXy {
    object-fit: cover; }

.Image-lock-ratio-s5qTP .Image-image-6wPci {
  position: absolute;
  height: 100%; }

.ArticleHeader-container-20Gwx {
  width: 100%; }

.ArticleHeader-title-Yj_Nc {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px; }
  @media (min-width: 600px) {
    .ArticleHeader-title-Yj_Nc {
      font-size: 48px; } }

.ArticleHeader-byline-2jpzB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 15px; }
  .ArticleHeader-byline-2jpzB .ArticleHeader-image-xAg9L {
    width: 40px;
    height: 40px;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px; }

.ArticleHeader-primary-asset-2Vs7I {
  width: 100%;
  margin-bottom: 15px; }

.ArticleBody-container-1MHeD {
  width: 100%; }

.ArticleBody-paragraph-2I40G {
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 20px; }

.ArticleBody-subheader-2d5PN {
  font-size: 20px;
  margin-bottom: 10px; }

.ArticleBody-list-2Rrd- {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px; }
  .ArticleBody-list-2Rrd-.ArticleBody-ordered-1BE_- {
    list-style-type: decimal; }
  .ArticleBody-list-2Rrd- li {
    font-weight: bold; }
    .ArticleBody-list-2Rrd- li:not(:last-child) {
      padding-bottom: 10px; }

@media (min-width: 600px) {
  .ArticleBody-paragraph-2I40G,
  .ArticleBody-subheader-2d5PN,
  .ArticleBody-list-2Rrd- {
    padding: 0 80px; } }

.ArticleBody-image-container-1w9XO {
  margin-bottom: 20px; }
  .ArticleBody-image-container-1w9XO.ArticleBody-small-uu_-_ {
    width: 100%; }
    @media (min-width: 600px) {
      .ArticleBody-image-container-1w9XO.ArticleBody-small-uu_-_ {
        width: 300px; } }
  @media (min-width: 600px) {
    .ArticleBody-image-container-1w9XO.ArticleBody-left-2suTo {
      float: left;
      margin: 0 20px 20px 0; } }
  @media (min-width: 600px) {
    .ArticleBody-image-container-1w9XO.ArticleBody-right-1cP21 {
      float: right;
      margin: 0 0 20px 20px; } }

.About-herobanner-1TGcB {
  margin-top: 20px; }

.About-page-header-1Mjuh {
  margin-bottom: 30px; }

.About-article-3EA44 {
  margin-bottom: 30px; }

.Article-herobanner-2Ixof {
  margin-top: 20px; }

.Article-page-header-1E0tH {
  margin-bottom: 30px; }

.Article-article-tdP4L {
  margin-bottom: 30px; }


/*# sourceMappingURL=styles.chunk.css.map*/