@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@keyframes Image-fadein-agl3V {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.Image-size-container-1F01j {
  margin: 0 auto;
  height: inherit; }

.Image-image-container-3XUvb {
  position: relative;
  height: inherit;
  z-index: 0; }
  .Image-image-container-3XUvb.Image-placeholder-2QHot:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 35%;
    background-position: center center;
    opacity: .1;
    background-color: #666;
    background-image: 'url(./image-placeholder.png)'; }

.Image-image-container-3XUvb:not(.Image-loaded-2w56Y) .Image-image-6wPci {
  display: none; }

.Image-image-6wPci {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  animation: Image-fadein-agl3V 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) both; }
  .Image-image-6wPci.Image-fit-1uHCx {
    object-fit: contain; }
  .Image-image-6wPci.Image-cover-2NcXy {
    object-fit: cover; }

.Image-lock-ratio-s5qTP .Image-image-6wPci {
  position: absolute;
  height: 100%; }

.ArticleHeader-container-20Gwx {
  width: 100%; }

.ArticleHeader-title-Yj_Nc {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px; }
  @media (min-width: 600px) {
    .ArticleHeader-title-Yj_Nc {
      font-size: 48px; } }

.ArticleHeader-byline-2jpzB {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 15px; }
  @media (min-width: 600px) {
    .ArticleHeader-byline-2jpzB {
      font-size: 20px; } }
  .ArticleHeader-byline-2jpzB .ArticleHeader-image-xAg9L {
    width: 30px;
    height: 30px;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.25s filter cubic-bezier(0.42, 0, 0.58, 1); }
    @media (min-width: 600px) {
      .ArticleHeader-byline-2jpzB .ArticleHeader-image-xAg9L {
        width: 40px;
        height: 40px; } }
  .ArticleHeader-byline-2jpzB a .ArticleHeader-image-xAg9L:hover {
    filter: brightness(75%); }

.ArticleHeader-primary-asset-2Vs7I {
  width: 100%;
  margin-bottom: 15px; }

.ArticleBody-container-1MHeD {
  width: 100%; }

.ArticleBody-paragraph-2I40G {
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 20px; }

.ArticleBody-subheader-2d5PN {
  font-size: 20px;
  margin-bottom: 10px; }

.ArticleBody-list-2Rrd- {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px; }
  .ArticleBody-list-2Rrd-.ArticleBody-ordered-1BE_- {
    list-style-type: decimal; }
  .ArticleBody-list-2Rrd- li {
    font-weight: bold; }
    .ArticleBody-list-2Rrd- li:not(:last-child) {
      padding-bottom: 10px; }

@media (min-width: 600px) {
  .ArticleBody-paragraph-2I40G,
  .ArticleBody-subheader-2d5PN,
  .ArticleBody-list-2Rrd- {
    padding: 0 120px; } }

.ArticleBody-image-container-1w9XO {
  margin-bottom: 20px; }
  .ArticleBody-image-container-1w9XO.ArticleBody-small-uu_-_ {
    width: 100%; }
    @media (min-width: 600px) {
      .ArticleBody-image-container-1w9XO.ArticleBody-small-uu_-_ {
        width: 300px; } }
  @media (min-width: 600px) {
    .ArticleBody-image-container-1w9XO.ArticleBody-left-2suTo {
      float: left;
      margin: 0 20px 20px 0; } }
  @media (min-width: 600px) {
    .ArticleBody-image-container-1w9XO.ArticleBody-right-1cP21 {
      float: right;
      margin: 0 0 20px 20px; } }

.About-herobanner-1TGcB {
  margin-top: 20px; }

.About-page-header-1Mjuh {
  margin-bottom: 30px; }

.About-article-3EA44 {
  margin-bottom: 30px; }

.Article-herobanner-anJVd {
  margin-top: 20px; }

.Article-container-30zAN {
  padding-top: 30px;
  padding-bottom: 60px; }
  @media (min-width: 600px) {
    .Article-container-30zAN {
      padding-top: 40px; } }

.Article-article-header-P_Y84 {
  margin-bottom: 30px; }
  .Article-article-header-P_Y84 > h1,
  .Article-article-header-P_Y84 > span {
    padding: 0 30px; }

.Article-article-body-3w64q {
  padding: 0 30px; }
  @media (min-width: 600px) {
    .Article-article-body-3w64q {
      padding: 0 30px; } }

.Table-container-4bHKy {
  width: 100%; }

.Table-title-30c42 {
  font-size: 24px;
  margin-bottom: 15px; }

.Table-table-columns-1UKoT {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media (min-width: 600px) {
    .Table-table-columns-1UKoT {
      flex-direction: row; } }
  .Table-table-columns-1UKoT .Table-column-1Jb8H:not(:last-child) {
    margin-bottom: 20px; }
  @media (min-width: 600px) {
    .Table-table-columns-1UKoT .Table-column-1Jb8H {
      margin-bottom: 0; }
      .Table-table-columns-1UKoT .Table-column-1Jb8H:not(:last-child) {
        padding-right: 15px; } }

.Table-header-2i1gN {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  background: #FF1815;
  color: white;
  padding: 2px 5px;
  margin-bottom: 10px; }

.Table-cell-container-2YrHW {
  margin-bottom: 10px; }
  .Table-cell-container-2YrHW .Table-cell-1lyKe {
    font-size: 16px;
    font-weight: bold; }
  .Table-cell-container-2YrHW .Table-subcell-3-zj9 {
    font-size: 14px; }

.Classes-herobanner-hGTqS {
  margin-top: 20px; }

.Classes-page-header-1ipoY {
  margin-bottom: 30px; }

.Classes-content-1new4 {
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  background: #414141; }

.Classes-schools-container-2daf4 {
  margin-bottom: 30px; }
  .Classes-schools-container-2daf4 .Classes-school-3pmtP:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #aaa; }
  .Classes-schools-container-2daf4 .Classes-title-3uCC9 {
    font-size: 20px;
    margin-bottom: 10px; }
    @media (min-width: 600px) {
      .Classes-schools-container-2daf4 .Classes-title-3uCC9 {
        font-size: 24px; } }
  .Classes-schools-container-2daf4 .Classes-info-container-1VUpl > a {
    display: inline-block; }
  .Classes-schools-container-2daf4 .Classes-info-container-1VUpl .Classes-instructor-1W08x {
    margin-bottom: 8px; }
    .Classes-schools-container-2daf4 .Classes-info-container-1VUpl .Classes-instructor-1W08x .Classes-label-2F5hW {
      font-size: 16px;
      font-weight: bold;
      padding-right: 6px; }
    .Classes-schools-container-2daf4 .Classes-info-container-1VUpl .Classes-instructor-1W08x .Classes-name-1emSx {
      font-size: 16px;
      color: #FF1815; }
  .Classes-schools-container-2daf4 .Classes-info-container-1VUpl .Classes-address-6bSH0 {
    margin-bottom: 8px; }
    .Classes-schools-container-2daf4 .Classes-info-container-1VUpl .Classes-address-6bSH0 > p {
      font-size: 16px; }
  .Classes-schools-container-2daf4 .Classes-info-container-1VUpl .Classes-contact-1cTKz {
    font-size: 16px;
    margin-bottom: 8px; }
    .Classes-schools-container-2daf4 .Classes-info-container-1VUpl .Classes-contact-1cTKz a {
      display: block;
      width: fit-content;
      line-height: 24px; }
  .Classes-schools-container-2daf4 .Classes-table-container-2IxAi {
    margin-top: 20px; }

.Classes-disclaimer-VCtLL {
  font-size: 16px;
  font-weight: bold;
  color: #FF1815; }

.Contact-content-1LEfE {
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  background: #414141; }

.Index-video-banner-2qJc- {
  background-image: url("https://biggica-sites.s3.amazonaws.com/fongs-hung-ga/head-banner.jpg");
  background-position: 50%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .Index-video-banner-2qJc-:before {
    content: '';
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    @media (min-width: 1026px) {
      .Index-video-banner-2qJc-:before {
        background: rgba(0, 0, 0, 0.65); } }
  .Index-video-banner-2qJc- iframe {
    display: none;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    z-index: 1;
    border: 0;
    transform: translate(-50%, -50%); }
    @media (min-width: 1026px) {
      .Index-video-banner-2qJc- iframe {
        display: block; } }

.Index-content-T_TIg {
  position: fixed;
  width: 100%;
  top: 30%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.Index-logo-nGWz0 {
  width: 250px;
  height: 250px; }
  @media (min-width: 600px) {
    .Index-logo-nGWz0 {
      width: 275px;
      height: 275px; } }

.Index-description-3gzw7 {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding-top: 10px; }
  @media (min-width: 600px) {
    .Index-description-3gzw7 {
      font-size: 21px;
      line-height: 31px; } }

.LionDance-herobanner-2rUbW {
  margin-top: 20px; }

.LionDance-page-header-1LNYG {
  margin-bottom: 30px; }

.LionDance-article-2PHL_ {
  margin-bottom: 30px; }

.LionDance-clients-container-3XRUu {
  width: 100%; }
  .LionDance-clients-container-3XRUu img {
    width: 100%; }

.styles-clearfix-2Rb3A:before,
.styles-clearfix-2Rb3A:after {
  content: "";
  display: table; }

.styles-clearfix-2Rb3A:after {
  clear: both; }

.styles-clearfix-2Rb3A {
  zoom: 1; }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0; }

html,
body {
  font-size: 10px; }

p {
  font-size: 1.6rem;
  line-height: 1.8em;
  font-family: Georgia,Cambria,"Times New Roman",Times,serifPublicoText-Roman-Web,Georgia,Cambria,"Times New Roman",Times,serif; }
  p small {
    font-size: .8em; }

a {
  transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  text-decoration: none;
  color: #333333;
  font-family: inherit; }
  a:hover {
    color: #FF1815;
    cursor: pointer; }
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.6rem; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

