@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
.styles-clearfix-2Rb3A:before,
.styles-clearfix-2Rb3A:after {
  content: "";
  display: table; }

.styles-clearfix-2Rb3A:after {
  clear: both; }

.styles-clearfix-2Rb3A {
  zoom: 1; }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0; }

html,
body {
  font-size: 10px; }

p {
  font-size: 1.4rem;
  line-height: 1.6em; }
  p small {
    font-size: .8em; }

a {
  transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  text-decoration: none;
  color: #333333;
  font-family: inherit; }
  a:hover {
    color: #FF1815;
    cursor: pointer; }
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.4rem; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

.HamburgerButton-button-3Kmsn {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer; }

.HamburgerButton-hamburger-1b52a {
  position: relative; }
  .HamburgerButton-hamburger-1b52a, .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    width: 20px;
    height: 2px;
    background-color: #FF1815;
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(-7px); }
  .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(7px); }

.HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a {
  background: transparent; }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(0) rotate(135deg); }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(0) rotate(225deg); }

.Header-container-3ZpuA {
  padding: 0 20px;
  width: 100%;
  z-index: 2; }
  @media (min-width: 1026px) {
    .Header-container-3ZpuA {
      padding: 0 60px;
      top: 0;
      left: 0; } }
  .Header-container-3ZpuA.Header-fixed-39ltI {
    position: fixed; }
  .Header-container-3ZpuA.Header-gradient-2Ht_W {
    background: linear-gradient(#000 30%, rgba(0, 0, 0, 0) 100%); }
  .Header-container-3ZpuA.Header-dark-mode-1DaGR a {
    color: #fff !important; }

.Header-inner-2A1qX {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Header-banner-3w3mF {
  width: 300px;
  height: 54px;
  background-size: 100%; }
  @media (min-width: 600px) {
    .Header-banner-3w3mF {
      width: 500px;
      height: 88px; } }

.Header-nav-3jI7E {
  margin-top: 20px; }
  @media (min-width: 600px) {
    .Header-nav-3jI7E {
      margin-top: 40px; } }
  .Header-nav-3jI7E li {
    font-size: 12px;
    font-weight: bold;
    display: inline-block; }
    @media (min-width: 600px) {
      .Header-nav-3jI7E li {
        font-size: 18px; } }
    .Header-nav-3jI7E li:not(:last-child) {
      margin-right: 15px; }
      @media (min-width: 600px) {
        .Header-nav-3jI7E li:not(:last-child) {
          margin-right: 35px; } }
    .Header-nav-3jI7E li:hover a, .Header-nav-3jI7E li.Header-active-1uMAQ a {
      color: #FF1815; }
    .Header-nav-3jI7E li:hover .Header-underline-1IEy8, .Header-nav-3jI7E li.Header-active-1uMAQ .Header-underline-1IEy8 {
      width: 100%; }
    .Header-nav-3jI7E li .Header-underline-1IEy8 {
      width: 0;
      height: 2px;
      background: #FF1815;
      margin: 0 auto;
      transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }

.Header-menu-container-2rqw1 {
  margin-top: 30px;
  display: none; }
  @media (min-width: 600px) {
    .Header-menu-container-2rqw1 {
      display: none; } }
  .Header-menu-container-2rqw1 .Header-button-3USmz {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    background: #000000; }
  .Header-menu-container-2rqw1 ul.Header-menu-sKL0B {
    visibility: hidden;
    opacity: 0;
    margin-top: 25px;
    padding: 12px 10px;
    position: absolute;
    background: #000000;
    border: 1px solid #FF1815;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }
    .Header-menu-container-2rqw1 ul.Header-menu-sKL0B.Header-active-1uMAQ {
      visibility: visible;
      opacity: 1; }
  .Header-menu-container-2rqw1 li {
    font-size: 16px;
    color: #fff; }
    .Header-menu-container-2rqw1 li:not(:last-child) {
      margin-bottom: 10px; }

.Index-video-banner-2qJc- {
  background-image: url("https://lh3.googleusercontent.com/xYQRrFvVju3FpplI1A2lhX4fh3Vs2_3Z-V9Fzasd-hu_wzqYx_eY2G7B6eup8_sQyaDuw6yA9ma9-noYLujL7isDfm8-YDcvXEZb016Rv9hDEREZbP7AxJWd23GdvS9C0S5yYKXucrXUtuLhREee65cj614pyxF27CplVsZNQRX9QzAFZFbo5Wz8513AS7gYtuh2laPMtSu-CBvawnosDZ3t1uKdF1FGloW32c2wKJzVOvLPH7Fs12ZM8XYuYqkDCPeqHkfYq3-9Id3PWFhshDvwuwxV4f6QwE0Blt1tJzQo9k104ByUqKkGjoRMD62iuTO4dS67YM05AoVPLJfX_-qDzeHRTtjKs3DzZNoBSUiKNBjsjcAcYpxfN2exsDeXDvjk3buZujcz90ZH7FoBMF9fg3eIkMhbBGIN2FZ7W8e0cqr0yyoLs5zFwrIVl0-zoryMHRgSXRG4izhptj0XQdhFS7XV8YFni7KOUfXjwWkudzRUXOjd_kYU51T7WCJ4QrF9O3VdfUnHrUdrf2KqA_Rj5ibi_o0llsK2ucKcRNV-WoYebripuhaY6PvTSCnyKP5iPxfqMP6QAA9TrzuBuh5f1FEIINGmCoiHpXQdeBtkZ0NucNCsgTgs3Luiz7eFPoN654kgq7wRjTDnGiP63-RO36tko-vtPwrIlAgEIuYnn90qnwrfhjI=w541-h748-no");
  background-position: 50%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .Index-video-banner-2qJc-:before {
    content: '';
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .Index-video-banner-2qJc- iframe {
    display: none;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    z-index: 1;
    border: 0;
    transform: translate(-50%, -50%); }
    @media (min-width: 1026px) {
      .Index-video-banner-2qJc- iframe {
        display: block; } }

.Index-logo-nGWz0 {
  width: 300px;
  height: 300px;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -25%); }
  @media (min-width: 600px) {
    .Index-logo-nGWz0 {
      top: 35%;
      font-size: 21px;
      line-height: 31px; } }

.Index-description-3gzw7 {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -25%);
  text-align: center;
  width: 100%;
  padding: 0 20px;
  max-width: 600px; }
  @media (min-width: 600px) {
    .Index-description-3gzw7 {
      font-size: 21px;
      line-height: 31px; } }

.HeroBanner-container-fYWwV {
  width: 100%;
  padding: 0 20px;
  background: #232323;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  @media (min-width: 600px) {
    .HeroBanner-container-fYWwV {
      padding: 0 60px;
      justify-content: center; } }
  .HeroBanner-container-fYWwV.HeroBanner-justify-top-3VB1M {
    justify-content: flex-start;
    padding-top: 20px; }
    @media (min-width: 600px) {
      .HeroBanner-container-fYWwV.HeroBanner-justify-top-3VB1M {
        padding-top: 40px; } }
  .HeroBanner-container-fYWwV.HeroBanner-justify-bottom-l4RcU {
    justify-content: flex-end;
    padding-bottom: 20px; }
    @media (min-width: 600px) {
      .HeroBanner-container-fYWwV.HeroBanner-justify-bottom-l4RcU {
        padding-bottom: 40px; } }
  .HeroBanner-container-fYWwV.HeroBanner-full-1ZTji {
    min-height: 100vh; }
  .HeroBanner-container-fYWwV.HeroBanner-three-quater-1uIgj {
    min-height: 75vh; }
  .HeroBanner-container-fYWwV.HeroBanner-half-1V9GZ {
    min-height: 35vh; }
    @media (min-width: 600px) {
      .HeroBanner-container-fYWwV.HeroBanner-half-1V9GZ {
        min-height: 50vh; } }
  .HeroBanner-container-fYWwV.HeroBanner-auto-3Alws {
    min-height: auto; }

.HeroBanner-text-container-3UaLg {
  max-width: 75%;
  text-align: center; }
  @media (min-width: 600px) {
    .HeroBanner-text-container-3UaLg {
      max-width: 60%; } }
  .HeroBanner-text-container-3UaLg.HeroBanner-border-1PvtJ {
    border: 1px solid #fff;
    padding: 18px 20px; }

.HeroBanner-title-2n_0g {
  font-size: 30px;
  line-height: 1.3;
  color: #fff; }
  @media (min-width: 600px) {
    .HeroBanner-title-2n_0g {
      font-size: 60px; } }

.HeroBanner-buttons-container-2bvpJ {
  margin-top: 40px; }
  @media (min-width: 600px) {
    .HeroBanner-buttons-container-2bvpJ {
      margin-top: 60px; } }

.HeroBanner-button-container-2xSm3 {
  text-align: center; }
  .HeroBanner-button-container-2xSm3:not(:last-child) {
    margin: 0 0 40px 0; }
  @media (min-width: 600px) {
    .HeroBanner-button-container-2xSm3.HeroBanner-row-1TEvL {
      display: inline-block; }
      .HeroBanner-button-container-2xSm3.HeroBanner-row-1TEvL:not(:last-child) {
        margin: 0 30px 0 0; } }
  .HeroBanner-button-container-2xSm3 a {
    color: #fff; }

.HeroBanner-label-2R3I0 {
  font-size: 16px;
  color: #fff; }

.HeroBanner-button-1GnDi {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }
  @media (min-width: 600px) {
    .HeroBanner-button-1GnDi {
      font-size: 20px; } }
  .HeroBanner-button-1GnDi.HeroBanner-border-1PvtJ {
    border: 1px solid #fff;
    padding: 16px 30px; }
    .HeroBanner-button-1GnDi.HeroBanner-border-1PvtJ:hover {
      background: #fff; }
      .HeroBanner-button-1GnDi.HeroBanner-border-1PvtJ:hover a {
        color: #005CAF; }

.HeroBanner-image-container-3HA7n {
  width: 100%;
  margin-top: 40px;
  box-shadow: 0 0 10px 10px #000000;
  cursor: pointer;
  transition: all 0.25 cubic-bezier(0.42, 0, 0.58, 1); }
  @media (min-width: 600px) {
    .HeroBanner-image-container-3HA7n {
      width: 500px;
      margin-top: 60px; } }
  .HeroBanner-image-container-3HA7n:hover {
    box-shadow: 0 0 10px 15px #000000; }
  .HeroBanner-image-container-3HA7n img {
    width: 100%; }

.Layout-container-1Z389 {
  min-height: 100vh; }

.Layout-inner-d3Io5 {
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 30px; }

.PageHeader-container-3ktzp {
  width: 100%; }

.PageHeader-inner-3_Dcy {
  display: inline-block; }

.PageHeader-title-1UdnQ {
  font-size: 22px; }
  @media (min-width: 600px) {
    .PageHeader-title-1UdnQ {
      font-size: 28px; } }

.PageHeader-underline-2Ki7C {
  width: 125%;
  height: 5px;
  background: #FF1815; }

.Table-container-4bHKy {
  width: 100%; }

.Table-title-30c42 {
  font-size: 24px;
  margin-bottom: 15px; }

.Table-table-columns-1UKoT {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media (min-width: 600px) {
    .Table-table-columns-1UKoT {
      flex-direction: row; } }
  .Table-table-columns-1UKoT .Table-column-1Jb8H {
    margin-bottom: 20px; }
    @media (min-width: 600px) {
      .Table-table-columns-1UKoT .Table-column-1Jb8H {
        margin-bottom: 0; }
        .Table-table-columns-1UKoT .Table-column-1Jb8H:not(:last-child) {
          padding-right: 15px; } }

.Table-header-2i1gN {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  background: #FF1815;
  color: white;
  padding: 2px 5px;
  margin-bottom: 10px; }

.Table-cell-container-2YrHW {
  margin-bottom: 10px; }
  .Table-cell-container-2YrHW .Table-cell-1lyKe {
    font-size: 16px;
    font-weight: bold; }
  .Table-cell-container-2YrHW .Table-subcell-3-zj9 {
    font-size: 14px; }

.Classes-herobanner-hGTqS {
  margin-top: 30px; }

.Classes-page-header-1ipoY {
  margin-bottom: 20px; }

.Classes-content-1new4 {
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  background: #414141; }


/*# sourceMappingURL=styles.chunk.css.map*/