@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
.styles-clearfix-2Rb3A:before,
.styles-clearfix-2Rb3A:after {
  content: "";
  display: table; }

.styles-clearfix-2Rb3A:after {
  clear: both; }

.styles-clearfix-2Rb3A {
  zoom: 1; }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0; }

html,
body {
  font-size: 10px; }

p {
  font-size: 1.4rem;
  line-height: 1.6em; }
  p small {
    font-size: .8em; }

a {
  transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  text-decoration: none;
  color: #333333;
  font-family: inherit; }
  a:hover {
    color: #FF1815;
    cursor: pointer; }
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.4rem; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

.HamburgerButton-button-3Kmsn {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer; }

.HamburgerButton-hamburger-1b52a {
  position: relative; }
  .HamburgerButton-hamburger-1b52a, .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    width: 20px;
    height: 2px;
    background-color: #FF1815;
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .HamburgerButton-hamburger-1b52a:before, .HamburgerButton-hamburger-1b52a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }
  .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(-7px); }
  .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(7px); }

.HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a {
  background: transparent; }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:before {
    transform: translateY(0) rotate(135deg); }
  .HamburgerButton-button-3Kmsn.HamburgerButton-active-2_wpj .HamburgerButton-hamburger-1b52a:after {
    transform: translateY(0) rotate(225deg); }

.Header-container-3ZpuA {
  padding: 0 20px;
  background: linear-gradient(#000 30%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  @media (min-width: 1026px) {
    .Header-container-3ZpuA {
      padding: 0 60px; } }

.Header-inner-2A1qX {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Header-banner-3w3mF {
  width: 300px;
  height: 54px;
  background-size: 100%; }
  @media (min-width: 600px) {
    .Header-banner-3w3mF {
      width: 500px;
      height: 88px; } }

.Header-nav-3jI7E {
  display: none;
  margin-top: 40px; }
  @media (min-width: 600px) {
    .Header-nav-3jI7E {
      display: block; } }
  .Header-nav-3jI7E li {
    font-size: 18px;
    display: inline-block; }
    .Header-nav-3jI7E li:not(:last-child) {
      margin-right: 35px; }
    .Header-nav-3jI7E li:hover a {
      color: #FF1815; }
    .Header-nav-3jI7E li:hover .Header-underline-1IEy8 {
      width: 100%; }
    .Header-nav-3jI7E li a {
      color: #fff; }
    .Header-nav-3jI7E li .Header-underline-1IEy8 {
      width: 0;
      height: 2px;
      background: #FF1815;
      margin: 0 auto;
      transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }

.Header-menu-container-2rqw1 {
  margin-top: 30px; }
  @media (min-width: 600px) {
    .Header-menu-container-2rqw1 {
      display: none; } }
  .Header-menu-container-2rqw1 .Header-button-3USmz {
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    background: #000000; }
  .Header-menu-container-2rqw1 ul.Header-menu-sKL0B {
    visibility: hidden;
    opacity: 0;
    margin-top: 25px;
    padding: 12px 10px;
    position: absolute;
    background: #000000;
    border: 1px solid #FF1815;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1); }
    .Header-menu-container-2rqw1 ul.Header-menu-sKL0B.Header-active-1uMAQ {
      visibility: visible;
      opacity: 1; }
  .Header-menu-container-2rqw1 li {
    font-size: 16px;
    color: #fff; }
    .Header-menu-container-2rqw1 li:not(:last-child) {
      margin-bottom: 10px; }
    .Header-menu-container-2rqw1 li a {
      color: #fff; }

.Index-video-banner-2qJc- {
  background-image: url("/static/andrew-lion-head.jpg");
  background-position: 50%;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .Index-video-banner-2qJc-:before {
    content: '';
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
  .Index-video-banner-2qJc- iframe {
    display: none;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    z-index: 1;
    border: 0;
    transform: translate(-50%, -50%); }
    @media (min-width: 1026px) {
      .Index-video-banner-2qJc- iframe {
        display: block; } }


/*# sourceMappingURL=styles.chunk.css.map*/